<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Zezwolenie na dostęp do internetu -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Wymaganie usług Google Play -->
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>

    <!-- Deklaracja aktywności głównej -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kaszuby"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAIh9vbblXJLi4zAQavTSRLFvlskhcSPNA" />
        <!-- Aktywność główna -->
        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Kaszuby">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Konfiguracja Firebase (jeśli używasz innych usług Firebase, takich jak Authentication) -->
        <!-- (Opcjonalne) Aktywność logowania (jeśli masz osobną aktywność do logowania przez Google) -->
    </application>

</manifest>
